{
  "plugins": [
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }],
    "external-helpers"
  ],
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": "4.0.0"
      }
    }],
    ["minify", {
      "mangle": false,
      "evaluate": false
    }]
  ]
}